html{
    background-color: #161A30;
    color: #F0ECE5;
}

div#nav{
    background-color: #31304D;
    display: flex;
    justify-content: end;
    margin: -10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

div#nav a img#logo{
    position: absolute;
    left: 30px;
}


div#nav_plus{
    display: flex;
    justify-content: space-between;
}
div#nav_plus ul#nav_g{
    display: flex;
    justify-content: space-between;
    margin-right: 38vw;
}
div#nav_plus ul#nav_g li{
    margin: 1vw;
}
div#nav_plus ul#nav_d{
    display: flex;
    margin-left: 14vw;
}

div#nav ul{
    display: flex;
    list-style: none !important;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

div#nav ul li{
    margin: 10px;
}

div#nav ul li a{
    text-decoration: none;
    color: #F0ECE5;
    font-size: 20px;
}

div#nav ul li a:hover{
    color: #31304D;
    background-color: #F0ECE5;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

div#nav img{
    padding: 5px;
    width: 75px;
    height: 75px;
}

iframe{
    margin-top: 1%;
    width: 100%;
    height: 100%;
}